.Navigation {
  margin-bottom: 100px;
  a {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}